$ff-main: "Roboto";
$ff-btn: "Montserrat";
$ff-someText: "Merriweather";

$font-main: 13px;
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-price: 600;
$font-weight-bold: 700;

$btn-color-main: #6fb048;
$btn-color-shop: #83a7a5;
$btn-color-header: #6a7f7f;
$btn-text-color: #ffffff;
$search-bg-color: #eef1ec;

$header-bg-color: #325f5f;
$firstSection-bg-color: #ffffff;
$secondSection-bg-color: #eef1ec;
$thirdSection-bg-color: #ffffff;
$fourthSection-bg-color: #eef1ec;
$shopSection-bg-color: #ffffff;
$infoSection-bg-color: #ffffff;
$helpSection-bg-color: #ffffff;
$lastSection-bg-color: #ffffff;
$footer-bg-color: #ffffff;

$header-unActivLinks-color: #bdc8c8;
$text-color-main: #0f5f5c;
$text-color-second: #83a7a5;
$text-color-shop: #6fb048;
$text-color-header: #ffffff;
$line-color-main: #6fb048;
$border-color-shop: #c1d3d2;

$line-width: 65px;
$zero-size: 0;

$nav-height: 85px;
$header-height: 660px;
$firstSection-height: 985px;
$Sections-height: 665px;
$fourthSection-height: 505px;
$shopSection-height: 597px;
$infoSection-height: 248px;
$helpSection-height: 312px;
$downloadSection-height: 200px;
$lastSection-height: 288px;
$footer-height: 65px;
$section-header-text-width: 500px;

$nav-leftSide-space: 50px;
$nav-rightSide-space: 31px;
$nav-lastChild-padding: 12px;

$list-gap: 12px;
$header-btn-pt-pb: 19px;
$header-btn-pl-pr: 45px;
$shop-btn-pt-pb: 16px;
$shop-btn-pl-pr: 25px;
$download-btn-pt-pb: 17px;
$download-btn-pl-pr: 22px;
$search-pl-pr: 16px;

$mb: 20px;

$b-radius: 2px;

$position: center;
$space:space-between;

$hand-imageSide-height: 463px;
$hand-image-height: 627px;
$list-image-height: 26px;
$foto-width: 401px;
$foto-height: 398px;

$search-input-width: 200px;
$search-input-height: 35px;
$search-palace-width: 240px;
$search-submit-width-height: 18px;