.bg-formSection
    header.sections-header.formSection-header.container
        +sectionsHeader('Get In Touch With Us','We are here to help. Want to learn more about our services?<br/>Please get in touch, we\'d love to hear from you!','sections-header')
    .formSection-sides.container
        .formSection-leftSide
            form.formSection-leftSide-form
                input.formSection-leftSide-form-name(type="text" placeholder='Name')
                input.formSection-leftSide-form-email(type="email" placeholder='Email')
                input.formSection-leftSide-form-phone(type="tel" placeholder="Phone")
                textarea.formSection-leftSide-form-textarea(name="Message" placeholder='Message')
                input.formSection-leftSide-form-btn.btn.green-btn(type="submit" value="Send massage")
        .formSection-rightSide
            .formSection-rightSide-blocks
                h3.formSection-rightSide-blocks-title Headquarter
                .formSection-rightSide-blocks-block
                    img.formSection-rightSide-blocks-block-img(src="images/point.png", alt="adress:")
                    p.formSection-rightSide-blocks-block-text 610 Overlook Circle<br/>Suite 323<br/>Kalamazoo, MI 49009
                .formSection-rightSide-blocks-block
                    img.formSection-rightSide-blocks-block-img(src="images/header-phone3.png", alt="phone:")
                    p.formSection-rightSide-blocks-block-text +62 202 555 0117
                .formSection-rightSide-blocks-block
                    img.formSection-rightSide-blocks-block-img(src="images/mail.png", alt="email:")
                    p.formSection-rightSide-blocks-block-text hi@wapik.com