.bg-helpSection
    section.container.helpSection
        header.helpSection-header.sections-header
            img.helpSection-header-img(src="images/Vector2.png" alt="picture")
            +sectionsHeader('Need Help?','Contact our Customer Support that is always ready to help you with any possible questions, problems or information.','sections-header')
        p.helpSection-mail support@wapik.com