.bg-infoSection
    section.container.infoSection
        header.infoSection-header.sections-header
            +sectionsHeader('Included with all Plans','','sections-header')
        .infoSection-blocks
            +listCreator('images/checkmark.png',['Maecenas faucibus mollis interdum','Cras justo odio, dapibus ac facilisis','Fringilla Mattis'],'sections')
            +listCreator('images/checkmark.png',['Vestibulum id ligula porta felis euismod','Duis mollis, est non commodo luctus','Integer posuere'],'sections')
            +listCreator('images/checkmark.png',['Nulla vitae elit libero, a pharetra augue','Curabitur blandit tempus porttitor','Nullam quis risus eget urna mollis'],'sections')