.bg-shopSection
    section.container.shopSection
        header.sections-header.shopSection-header
            +sectionsHeader('Get Started with Wapik Today<br/>All Plans include a 30-Day Trial Period','Cras mattis consectetur purus sit amet fermentum.','sections-header')
        .shopSection-blocks
            +shopItems('basic','$199','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')
            +shopItems('plus','$399','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')
            +shopItems('premium','$699','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')
        .sections-header.shopSection-days
            p.sections-header-text Limited Time Offer. All plans are FREE 14 days!