<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title About Us
    body
    include template/mixins/blockMixin
    include template/aboutUs/header
    include template/aboutUs/firstSection
    include template/aboutUs/secondSection
    include template/home/downloadSection
    include template/aboutUs/lastSection
    include template/aboutUs/footer