<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pricing
    body
    include template/mixins/blockMixin
    include template/pricing/header
    include template/pricing/shopSection
    include template/pricing/infoSection
    include template/pricing/helpSection
    include template/pricing/downloadSection
    include template/pricing/lastSection
    include template/pricing/footer