<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="images/logo.png" type="image/png")
        link(href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic" rel="stylesheet")
        title Pricing
    body
    include template/mixins/blockMixin
    include template/pricing/header
    include template/pricing/shopSection
    include template/pricing/infoSection
    include template/pricing/helpSection
    include template/pricing/downloadSection
    include template/pricing/lastSection
    include template/pricing/footer