.bg-downloadSection
    section.container.downloadSection
        .downloadSection-leftSide
            h2.downloadSection-leftSide-title Do You Like Wapik? Download it Now
            p.downloadSection-leftSide-text Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .downloadSection-rightSide
            a.downloadSection-rightSide-btn.btn.green-btn(href="#") download now! - FREE forever