.bg-firstSection
    section.container.firstSection
        header.sections-header.firstSection-header
            +sectionsHeader('Best of our features','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.','sections-header')
        .firstSection-top
            +block('images/Vector.png','Ionicons','Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem.','firstSection-top')
            +block('images/bottle.png','Creative Design','Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.','firstSection-top')
            +block('images/rect.png','Photoshop and Sketch','Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna.','firstSection-top')
        .firstSection-bottom
            +block('images/planet.png','Cross Browser Compatibility','Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.','firstSection-bottom')
            +block('images/lamp.png','Creative Idea','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper.','firstSection-bottom')
            +block('images/magicStick.png','Pixel Perfect','Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.','firstSection-bottom')
            +block('images/cloud.png','Free Forever and Ever','Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus.','firstSection-bottom')