.bg-header
    header.header.container
        include navigation
        .header-main
            h1.header-title Welcome to Wapik
            p.header-text Wapik is multipurpose template, with modern and smart design. Wapik is perfect template for you!
            a.btn.header-btn.green-btn(href='#' id="learnMore") Learn More