.bg-secondSection
    section.container.secondSection
        header.sections-header.secondSection-header
            +sectionsHeader('Looking for the perfect template to use?','Donec id elit non mi porta gravida at eget metus.','sections-header')
        .secondSection-sides
            .secondSection-leftSide
                img.secondSection-leftSide-hand(src="/images/hand.png" alt="hand picture")
            .secondSection-rightSide
                h2.secondSection-rightSide-title.sections-header-title Responsive Ready
                p.secondSection-rightSide-text.sections-header-text.
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. 
                    Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.
                +listCreator('images/checkmark.png',['Integer posuere erat a ante venenatis dapibus posuere velit aliquet.','Donec id elit non mi porta gravida at eget metus.'],'sections')