.bg-shopSection
    section.container.shopSection
        header.sections-header.shopSection-header
            +sectionsHeader('Pricing & Plan','Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh. Donec id elit non mi porta gravida at eget metus.','sections-header')
        .shopSection-blocks
            +shopItems('basic','$199','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')
            +shopItems('plus','$399','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')
            +shopItems('premium','$699','Justo Fringilla<br/>Mollis Sit Nullam<br/>Ultricies Purus Amet<br/>Cras Inceptos','Select Plan','shopSection-blocks')