.bg-thirdSection
    section.container.thirdSection
        .thirdSection-leftSide
            p.thirdSection-leftSide-text.
                This theme is beautiful, elegant and easy to customize. 
                I’ve been able to build an amazing site in just a minute. 
                Thank you very much for creating this impressive template!
            p.thirdSection-leftSide-author Valeria Boltneva
            p.thirdSection-leftSide-office Director of Acme.Inc
        .thirdSection-rightSide
            .thirdSection-rightSide-leftArrow 
                span &lt;
            img.thirdSection-rightSide-foto(src="images/girl.png", alt="foto")
            .thirdSection-rightSide-rightArrow 
                span &gt;